*.iml
.gradle
/currentPosition.properties
/.idea/workspace.xml
/.idea/libraries
/.idea
.DS_Store
/build
/captures
/local.properties
*.apk
index.html
script.js
styles.css
build_output.txt
hs_err_pid*.log
error_log.txt
